#spring.application.name=cards

server:
  port: 9000
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - "application_prod.yml"
      - "application_qa.yml"
  profiles:
    active:
      - "qa"

build:
  version: "3.0"

cards:
  message: "Welcome to MaleBank cards related local APIs"
  contactDetails:
    name: "Thanapong Y - Developer"
    email: "malethanapong@malebank.com"
  onCallSupport:
    - (412) 419-3491
    - (915) 382-1932